.Header {
  background: #487922;
}

.Header h1 {
  text-align: center;
}

.top-bar {
  padding: 0;
  font-size: 12px;
  border-bottom: 0.4px solid #3b621c;
  min-height: 40px;
}

.main-header {
  padding: 20px 0 25px;
}

.site-title {
  color: #fff;
}



