.Footer .footer-bottom {
  background: #202020;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Footer .footer-bottom ul li a {
  line-height: 30px;
  color: #fff;
  position: relative;
  margin-left: 23px;
  display: block;
  text-decoration: none;
}

.footer-title {
  color: #fff;
  font-size: 1.4 rem;
  margin-bottom: 20px;
}

.footer-title a {
  color: #fff;
  font-size: 1.4 rem;
  text-decoration: none;
}

.Footer img {
  max-width: 44px;
}
